/* Dark Theme Styles */
body.night .project-container {
    background-color: #273746;
}

body.night {
    background-color: #1c2833;
    transition: background-color 0.2s ease-in-out;
}

body.night .navbar {
    background-color: #273746;
    color: #d5d8dc;
    padding: 0.5rem;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.night .navContainer a {
    color: #d5d8dc;
    transition: color 0.5s ease-in-out;
}

body.night .about-head,
body.night .education-head,
body.night .year,
body.night .college-name,
body.night .location,
body.night .skills h2,
body.night .skills h4,
body.night .skill-desc,
body.night .skillhead {
    transition: color 0.5s ease-in-out;
}

body.night .about-head {
    color: #d5d8dc;
}

body.night .education-container {
    background-color: #273746;
    color: #d5d8dc;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

body.night .education-head {
    color: #d6eaf8;
}

body.night .splitter {
    background-color: #d5d8dc;
}

body.night .v-splitter {
    background-color: #85929e;
}

body.night .year {
    color: #85c1e9;
}

body.night .college-name {
    color: #5dade2;
}

body.night .location {
    color: #aed6f1;
}

body.night .skills h2 {
    color: #9cc9ff;
}

body.night .skills h4 {
    color: #b3cde0;
}

body.night .skill-desc {
    color: #d1d1d1;
}

body.night .skill-card {
    background-color: #1f1f1f;
    filter: drop-shadow(3px 3px 1px #000000);
    transition: background-color 0.5s ease-in-out;
}

body.night .skill-card:nth-child(even) {
    background-color: #252525;
}

body.night .skillhead {
    color: #e0e0e0;
    filter: drop-shadow(3px 3px 4px #000000);
}

body.night,
body.night .skill-inner {
    animation: appear 1s linear;
}

@keyframes appear {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Transition for other elements */
body.night .educations,
body.night .navClass,
body.night .navItem,
body.night .navhead,
body.night .noborder,
body.night .image {
    transition: 0.5s ease-in-out;
}
